* {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}
.header {
    background-color: rgb(184, 228, 239);
    width: 359px;
    height: 50vw;
    font-family: 'Oswald', sans-serif;
}

.header li{
    cursor: pointer;
    padding: 35px;
}

.header nav li {
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 40px;

}
.header nav li a {
    text-decoration: none;
    color: black;
}
.skill{
    border: 2px solid black;
    box-sizing: 80px 20px;
}
h2{
    font-family: 'Oswald', sans-serif;
    
}
p{
font-size: 10px;
}
.skill{
    height: 20px;
    width: 40px;
    background-color: brown;
}
.hundred{
    width: 300px;
    background-color: chartreuse;
}
.fifty{
    width: 150px;
    background-color: crimson;
}
.t5{
    width: 75px ;
    background-color: burlywood;
}
.t7{
    width: 100px;
    background-color: blue;
}

